---
import Layout from "../../layouts/Layout.astro";
import UrlNotFound from "../../components/ui/urlNotFound";

export const prerender = false;
---

<Layout title="URL Not Found | Ringkas URL Polida">
    <main>
        <UrlNotFound client:load />
    </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>